In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [10]:
d=pd.read_csv("D:\VS\dataset.csv")

In [11]:
d["B2B"].value_counts()

B2B
False    128104
True        871
Name: count, dtype: int64

In [12]:
d.head()

,Order ID,Date,Fulfilment,Sales Channel,ship-service-level,Category,Age,Gender,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-country,B2B,Month
0,405-8078784-5731545,2022-04-30,Merchant,Amazon.in,Standard,Set,37,Male,S,Cancelled,0,0.0,MUMBAI,MAHARASHTRA,IN,False,4
1,171-9198151-1101146,2022-04-30,Merchant,Amazon.in,Standard,kurta,37,Male,3XL,Shipped,1,406.0,BENGALURU,KARNATAKA,IN,False,4
2,404-0687676-7273146,2022-04-30,Amazon,Amazon.in,Expedited,kurta,37,Male,XL,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,IN,True,4
3,403-9615377-8133951,2022-04-30,Merchant,Amazon.in,Standard,Western Dress,37,Male,L,Cancelled,0,0.0,PUDUCHERRY,PUDUCHERRY,IN,False,4
4,407-1069790-7240320,2022-04-30,Amazon,Amazon.in,Expedited,Top,49,Female,3XL,Shipped,1,574.0,CHENNAI,TAMIL NADU,IN,False,4

In [13]:
d.describe()

                 Age            Qty         Amount          Month
count  128975.000000  128975.000000  128975.000000  128975.000000
mean       43.845668       0.904431     585.252395       4.909192
std        15.321710       0.313354     331.114267       0.818402
min        18.000000       0.000000       0.000000       3.000000
25%        31.000000       1.000000     399.000000       4.000000
50%        44.000000       1.000000     568.000000       5.000000
75%        57.000000       1.000000     771.000000       6.000000
max        70.000000      15.000000    5584.000000       6.000000

In [14]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128975 non-null  object
 1   Date                128975 non-null  object
 2   Fulfilment          128975 non-null  object
 3   Sales Channel       128975 non-null  object
 4   ship-service-level  128975 non-null  object
 5   Category            128975 non-null  object
 6   Age                 128975 non-null  int64
 7   Gender              128975 non-null  object
 8   Size                128975 non-null  object
 9   Courier Status      128975 non-null  object
 10  Qty                 128975 non-null  int64
 11  Amount              128975 non-null  float64
 12  ship-city           128975 non-null  object
 13  ship-state          128975 non-null  object
 14  ship-country        128975 non-null  object
 15  B2B                 128975 non-null  bool
 16  Month               128975 non-null  int64
dtypes: bool(1), float64(1), int64(3), object(12)
memory usage: 15.9+ MB

In [15]:
d.isnull().sum()

Order ID              0
Date                  0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Age                   0
Gender                0
Size                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-country          0
B2B                   0
Month                 0
dtype: int64

In [16]:
lec=LabelEncoder()
one=OneHotEncoder()

In [17]:
d["Fulfilment"] = lec.fit_transform(d["Fulfilment"])

In [18]:
d["Sales Channel "] = lec.fit_transform(d["Sales Channel "])

In [19]:
d["ship-service-level"] = lec.fit_transform(d["ship-service-level"])

In [20]:
d["ship-service-level"] = lec.fit_transform(d["ship-service-level"])

In [21]:
d["Category"] = lec.fit_transform(d["Category"])

In [22]:
d["Courier Status"] = lec.fit_transform(d["Courier Status"])

In [23]:
d["ship-city"] = lec.fit_transform(d["ship-city"])

In [24]:
d["ship-state"] = lec.fit_transform(d["ship-state"])

In [25]:
d["ship-country"] = lec.fit_transform(d["ship-country"])

In [26]:
d["B2B"] = lec.fit_transform(d["B2B"])

In [27]:
d["Gender"] = lec.fit_transform(d["Gender"])

In [28]:
d["Size"] = lec.fit_transform(d["Size"])

In [29]:
d.head()

,Order ID,Date,Fulfilment,Sales Channel,ship-service-level,Category,Age,Gender,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-country,B2B,Month
0,405-8078784-5731545,2022-04-30,1,0,1,5,37,1,7,0,0,0.0,4795,28,0,0,4
1,171-9198151-1101146,2022-04-30,1,0,1,8,37,1,0,1,1,406.0,776,23,0,0,4
2,404-0687676-7273146,2022-04-30,0,0,0,8,37,1,8,1,1,329.0,5353,28,0,1,4
3,403-9615377-8133951,2022-04-30,1,0,1,7,37,1,5,0,0,0.0,6140,43,0,0,4
4,407-1069790-7240320,2022-04-30,0,0,0,6,49,0,0,1,1,574.0,1466,56,0,0,4

In [30]:
d.to_csv("data_transformed.csv", index=False)  # Saves without the index column